.banner {
  background-color: @clr_lightgray;
}

.banner__container {
  @padding-left: 470px;

  margin: 0 auto;
  padding: 217px 0px 225px @padding-left;
  width: @min-width - @padding-left;
  background-image: url("../img/bg-banner.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.banner__title {
  color: @clr_black;
  font-family: @fnt_Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  margin: 0;
  padding: 0;

  & b {
    display: block;
    font-size: 90px;
    font-weight: 700;
    line-height: 123px;
    margin: 0;
    padding: 0;
  }
}

.banner__position {
  color: @clr_black;
  font-family: @fnt_Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 18px 0px 52px 0px;
}

.banner__btn-wrapper {

}
