.portfolio__filter {
  text-align: center;
  margin: 0;
  padding: 91px 0px 50px 0px;
}

.portfolio__filter-wrapper {
  display: inline-block;
  font-size: 0;
  border: 1px solid @clr_black;
}

.portfolio__filter-link {
  display: inline-block;
  color: @clr_gray;
  font-family: @fnt_Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  margin: 0;
  padding: 9px 19px;

  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  &:hover {
    color: @clr_white;
    background-color: @clr_gray;
  }

  &--active {
    color: @clr_white;
    background-color: @clr_black;
  }
}

.portfolio__grid-container {
  margin: 0;
  padding: 0px 0px 0px 0px;
  min-height: 660px;
}

.portfolio__grid-item {
  margin: 0px 0px 30px 0px;

  &--wide {
    width: 770px;
    height: 300px;
  }

  &--high {
    width: 370px;
    height: 630px;
  }

  &--small {
    width: 370px;
    height: 300px;
  }

  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.portfolio__btn-wrapper {
  text-align: center;
  margin: 0;
  padding: 70px 0px 0px 0px;
}
